body.sb-show-main.sb-main-padded {
  padding: 0 !important;
}

#__next,
#root {
  width: 100vw !important;
}

pre.source {
  font-size: 10px;
  max-width: 300px;
  display: block;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
}
